---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body
{
	background-color: #f44336;
	color: #ffffff;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
}

#splash
{
	text-align:center;
	margin: 0 auto;
	margin-top: 12em;
}

#splash img
{
	margin-bottom: 4em;
}

@media only screen and (max-width: 800px) {
    #splash img {
    	width: 300px;
    	height: 32px;
    	margin-bottom: 2em;
    }
}
